#cssTest{
	color:red;
}

ul{
    list-style-type: none;
}

#rsvpact{ 
  display: inline-block; 
  width: 9%;
}

span{
  font-weight:bold;
}

p.italic{
  font-style: italic;
}

#rsvp-tex ul li{
  display: inline-block; 
  width: 9%;
}
